.conten {
  background: #094370;
}
img {
  display: block;
  margin: auto;
}

a {
  text-decoration: none;
  cursor: pointer;
}

a.color-1:hover {
  text-decoration: underline;
}

p {
  font-size: 30px;
  line-height: 45px;
  color: rgb(33, 71, 88);
  font-weight: normal;
  letter-spacing: -1px;
}
h2 {
  text-align: center;
  text-transform: uppercase;
}
h3 {
  font-size: 25px;
  line-height: 45px;
  color: rgb(59, 17, 11);
  font-weight: normal;
  letter-spacing: -1px;
}
li {
  font-size: 25px;
  line-height: 45px;
  color: rgb(129, 150, 120);
  font-weight: normal;
  letter-spacing: -1px;
}
